<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/JackBattye91/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="JackBattye91" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>
